// Colours
$lightgrey: #ececec;
$midgrey: #ccc;
$darkgrey: #666;

// Font sizes
$font-size-small: 11px;
$font-size-medium: 13px;
$font-size-large: 16px;
$font-size-xlarge: 26px;

// Whitespace
$wsunit: 2rem;

// Media queries
// Min-up
$mq-s: "screen and (min-width: 320px)";
$mq-m: "screen and (min-width: 480px)";
$mq-l: "screen and (min-width: 800px)";
$mq-xl: "screen and (min-width: 1000px)";
// Max-down (useful in certain circumstances like offcanvas nav)
$mq-lt-s: "screen and (max-width: 320px)";
$mq-lt-m: "screen and (max-width: 480px)";
$mq-lt-l: "screen and (max-width: 800px)";
$mq-lt-xl: "screen and (max-width: 1000px)";