//-
	@file Defines a figure mixin which generates an image with an accompanying caption, wrapped in a container
	@author Tom Jenkins tom.jenkins@kp360group.com

	@param {string} Image source URL
	@param {string} Image alternative text
	@param {HTML} Image caption

mixin figure(src, alt, caption)
	div.figure
		div.figure-image
			img(alt=alt, src=src)
		div.figure-caption!= caption