//-
	@file Defines a mixin which generates a titled gallery with a list of figures
	@author Tom Jenkins tom.jenkins@kp360group.com

	@param {string} Gallery title
	@param {array} List of image data with which to create the figures

// Mixin dependencies
include _figure.jade

mixin gallery(title, imgList)
	section.gallery

		h1.gallery-title #{title}

		ul.gallery-items
			each img in imgList
				li
					+figure(img.src, img.alt, img.caption)