/**
 * @file Defines a figure module with an image and accompanying caption
 * @author Tom Jenkins tom.jenkins@kp360group.com
 * @requires _settings.scss
 */

.gallery-title {
	border-bottom: 2px solid $darkgrey;
}

.gallery-items {

	padding: $wsunit;
	background: $midgrey;

	// Layout
	li {
		display: inline-block;
		max-width: 15em;
	}
}

.gallery {
	padding: $wsunit;
	background: #fff;
}