//-
	@file The home page
	@author Tom Jenkins tom.jenkins@kp360group.com
	@extends page_templates/_default.jade
	@requires mixins/_figure.jade

// Page dependencies
include mixins/_gallery.jade

// Page template
extends page_templates/_default

// Page variables to pass to template
block page_vars
	- var page = {};
	- page.title = "Photo gallery";
	- page.description = "Lorem ipsum doler sit amet";
	- page.keywords = "Consec, elit, sestertii";

	// Gallery definition to pass into gallery mixin below (in reality, this would be passed in through Grunt or another external source)
	- var galleryData = [];
	- galleryData[0] = {src: "img/mittens.jpg", alt: "Mittens the kitten", caption: "Mittens was <strong>inqusitive</strong> from an early age."};
	- galleryData[1] = {src: "img/ramesses.jpg", alt: "Ramesses, the Egyptian cat", caption: "Ramesses was named after the mighty pharaohs, and has looked proud ever since."};
	- galleryData[2] = {src: "img/tabby.jpg", alt: "Tabby the houecat", caption: "Tabby is an unassuming stripy brown cat who sleeps a <em>lot</em>."};



// Content block
block content

	h1 Some of our photos
	p Have a look through the gallery below for some stunning photos of our trip to Felinia:

	+gallery("Cats", galleryData)
