//-
	@file Defines the default page template
	@author Tom Jenkins tom.jenkins@kp360group.com


//- Import variables from calling page
block page_vars

!!! 5
//if lt IE 7
	<html class="no-js lt-ie9 lt-ie8 lt-ie7">
//if IE 7
	<html class="no-js lt-ie9 lt-ie8">
//if IE 8
	<html class="no-js lt-ie9">
// [if gt IE 8] <!
html(class="no-js", lang="en")
	// <![endif]
	head
		title #{page.title}
		meta(charset="utf-8")
		meta(name="description", content=page.description)
		meta(name="keywords", content=page.keywords)
		meta(name="viewport", content="width=device-width")
		link(rel="stylesheet", href="stylesheets/main.css")

	body

		block content


		if (env == "dev")
			script(src="js/vendor/jquery.js")
			script(data-main="js/main", src="js/vendor/require.js")
		else
			script(src="js/"+pkg.name+".min.js")